.App {
    background-color: #5c0000;
    z-index: 1;
}

.App-encabezado {
    background-color:#FFFDD0;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    border-bottom:2px solid #5c0000;
}

.nav-menu {
    list-style: none;
}

.nav-link {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    margin: 20px 15px;
    padding: 10px 30px;
    text-decoration: none;
    color: #5c0000;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    transition: .5s;
    z-index: 1;
}
.nav-link:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #5c0000;
    border-bottom: 2px solid #5c0000;
    transform: scaleY(2);
    opacity: 0;
    transition: .3s;
}
.nav-link:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5c0000;
    transform: scale(0);
    opacity: 0;
    transition: .3s;
    z-index: -1;
}
.nav-link:hover {
    color: #FFFDD0;
}
.nav-link:hover:before {
    transform: scaleY(1);
    opacity: 1;
}
.nav-link:hover:after {
    transform: scaleY(1);
    opacity: 1;
}

.Galeria {
    display: flex;
    height: 480px;
    width: 800px;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    background-color: #5c0000;
    margin-top: 20px;
    margin-left: 250px;
    margin-bottom: 15px;
}

.Galeria img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 8;
    transition: .5s ease;
}
.Galeria img:hover {
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

footer {
  position: relative;
  background-color: #5c0000;
  height: auto;
  width: 100%;
  justify-content: center;
  z-index: 3;
  align-items: center;
}
.img6 {
    border: 2px solid #000000;
    padding: 15px;
    border-radius: 70px;
    background-color: #E52D33;
}

.section-1 {
  background-image: url(./assets/background.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  margin-top: 80px;
}

.section-1 h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 70px;
  color: #FFFDD0;
  display: flex;
  position: relative;
  left: 250px;
  top: 150px;
}

.section-1 h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
  color: #FFFDD0;
  display: flex;
  position: relative;
  left: 235px;
  top: 130px;
}

.Texto-contenedor1 {
  display: flex;
  width: 600px;
  height: 400px;
  background-color: #FFFDD0;
  justify-content: center;
  border: solid 2px #B98592;
  position: relative;
  left: 5%;
  top: 10%;
  padding: 8px 12px;
  border-radius: 15px;
  transition: 0.5s;
  align-items: center;
}

.Texto-contenedor1:hover {
  box-shadow: 0px 0px 40px #FFFDD0;
}

.Texto1 {
  width: 70%;
  text-align: center;
  font-family: Arial;
  color: #5c0000;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 20px;
}

.section-2 {
  background-image: url(./assets/background2.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
}

.Texto-contenedor2 {
  height: 500px;
  width: 80%;
  background-color: #FFFDD0;
  border-radius: 15px;
  box-shadow: 16px 14px 20px #000000;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 10%;
  top: 8%;
}

.Texto-contenedor2::before {
  content: "";
  position: absolute;
  height: 500px;
  width: 80%;
  background-image: conic-gradient(#B98592 0deg, transparent 120deg);
  animation: rotar 2s linear infinite;
}

@keyframes rotar {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(-360deg);
  }
}

.Texto-contenedor2::after {
  content: "";
  position: absolute;
  height: 490px;
  width: 1000px;
  background-color: #FFFDD0;
  border-radius: 15px;
  box-shadow: inset 1px 1px 10px #101010;
  padding: 20px 20px;
}

.Texto2 {
  width: 70%;
  text-align: center;
  font-family: Arial;
  color: #5c0000;
  font-weight: bold;
  z-index: 2;
}

.section-3 {
  font-family: "Bebas Neue", sans-serif;
  width: 100%;
  height: 650px;
  background-color: #FFFDD0;
}

.section-3 h1 {
  text-align: center;
  padding: 5px 10px;
  margin-top: 20px;
  font-size: 60px;
}

.section-4 {
  width: 100%;
  height: 800px;
  background-color: #FFFDD0;
  color: #5c0000;
}

.titulos {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  color: #5c0000;
  padding: 5px 10px;
  margin-top: 20px;
  font-size: 60px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 4;
  height: 80px;
}

.card-content {
  background-color: #5c0000;
}

.conteiner-mega {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.container {
  width: 100px;
  height: 500px;
  perspective: 10000px;
  display: flex;
  border-radius: 2rem;
  justify-content: center;
}

.container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 75%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front, .back {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.front {
  display: flex;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  color: #B98592;
  justify-content: center;
  align-items: center;
  font-size: 160px;
  background-color: #5c0000;
}

.back {
  background-color: #B98592;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
}

.section-4 p {
  margin-left: 15px;
}

.section-3 h1 {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  color: #5c0000;
}

.section-5 {
  width: 100%;
  height: 800px;
  background-color: #5c0000;
  color: #FFFDD0;
}

.section-6 {
  width: 100%;
  height: 700px;
  background-color: #FFFDD0;
  color: #5c0000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-6 h1 {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  color: #5c0000;
  font-size: 80px;
}

.section-6 div {
  text-align: center;
  width: 600px;
  margin-top: 30px;
}

.Texto {
  text-align: center;
  font-family: Arial;
  color: #FFFDD0;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 20px;
}

.front h1 {
  font-size: 40px; /* Ajusta este valor según sea necesario */
}

.back h1 {
  font-size: 30px; /* Ajusta este valor según sea necesario */
}

.back p {
  font-size: 20px; /* Ajusta este valor según sea necesario */
}
